<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Tour Blumenau</title>
</head>
<body>

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hotel Tech Tour Blumenau</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="static/styles/index.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />

</head>
<body>
  <header class="bg-#f1f1e7">
    <nav class="custom-header navbar navbar-expand-lg navbar-light bg-transparent">
      <a class="navbar-brand" href="{{url_for('home')}}">
        <img src="static/assets/logo.png" alt="Logo do Hotel Tech Tour Blumenau" width="120" height="120">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a><!-- Usar a rota ou a função. -->
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Hotéis</a><!-- Usar a rota ou a função, pelo menos aqui -->
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a><!-- Usar a rota ou a função, pelo menos aqui -->
          </li>
        </ul>
        <a class="nav-link icon" href="/{{ reg_pro }}"><i class="fas fa-user"></i></a><!-- Usar a rota ou a função, pelo menos aqui -->
        <a class="nav-link icon" href="#"><i class="fas fa-bars"></i></a>
      </div>
    </nav>
  </header>
  <main>
    <div class="container">
      <div class="row">
        <div class="container">
            <div class="row">
              <div class="col-md-6">
                <form method="post" action="{{ url_for('read_hotel') }}">
                    <div class="search-bar">
                        <input type="text" class="form-control form-control-md" placeholder="Procure seu hotel aqui" name="hotel_name">
                        <button type="submit" class="btn btn-primary btn-sm">Procurar</button>
                    </div>
                  </form>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <h1>Seja bem vindo!</h1>
              <p>Procurando por um lugar confortável para ficar durante sua viagem? O Hotel Tech Tour Blumenau oferece quartos espaçosos e modernos, equipados com tudo o que você precisa para uma estadia agradável.</p>
              <a href="#" class="btn btn-primary">Explorar</a>
            </div>
            <div class="col-md-6">
              <div>
                <img class="rounded" src="static/assets/greekHotel.jpg" alt="" width="325" height="325">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <img class="rounded" src="static/assets/rioHotel.jpg" alt=""  width="325" height="325">
            </div>
            <div class="col-md-6">
              <h1>Apenas o melhor para voce!</h1>
              <p>O Tech Tour Brasil é o site perfeito para aqueles que procuram reservar hotéis com os melhores preços. Com uma variedade de opções de hotéis em todo o país, é fácil encontrar a escolha perfeita para suas necessidades e orçamento. Além disso, o site oferece ferramentas de pesquisa avançadas para ajudá-lo a encontrar o hotel certo, como filtros de preço, localização e avaliações de outros viajantes.</p>
              <p>Outra vantagem de reservar um hotel através do Tech Tour Brasil é a possibilidade de comparar preços entre diferentes sites de reserva, garantindo que você sempre obtenha o melhor negócio. Além disso, o site oferece suporte ao cliente 24 horas por dia, 7 dias por semana, para garantir que qualquer problema ou dúvida seja resolvido rapidamente e sem problemas. Com o Tech Tour Brasil, você pode reservar sua próxima viagem com confiança e tranquilidade.</p>
            </div>
          </div>
      </div>
    </div>
  </main>
  <footer class="footer navbar-fixed-bottom">
    <div class="col-md-12">
        <p class="text-center">Copyright © Hotel Tech Tour Blumenau</p>
    </div>
  </footer>
</body>
</html>