<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Tour Blumenau</title>
</head>
<body>

    <!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hotel Tech Tour Blumenau</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="static/styles/index.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />

</head>
<body>
  <header class="bg-#f1f1e7">
    <nav class="custom-header navbar navbar-expand-lg navbar-light bg-transparent">
        <a class="navbar-brand" href="{{url_for('home')}}">
        <img src="static/assets/logo.png" alt="Logo do Hotel Tech Tour Blumenau" width="120" height="120">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/hotel_link">Hotéis</a>
          </li>
          <!--
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>-->
        </ul>
        <a class="nav-link icon" href="/{{ reg_pro }}"><i class="fas fa-user"></i></a><!-- Usar a rota e não função, pelo menos aqui -->
        <!--<a class="nav-link icon" href="#"><i class="fas fa-bars"></i></a>-->
      </div>
    </nav>
  </header>
    <main>
        <div class="container">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <h2>Cadastre-se aqui</h2>
                    <p>Já possui uma conta? <a href="{{ url_for('login')}}">Faça login</a></p>
                    <form method="post" action="{{ url_for('create_user') }}">
                        <div class="form-group">
                            <label for="user_firstname">Nome</label>
                            <input type="text" class="form-control" id="user_firstName" name="user_firstName" placeholder="Insira seu nome">
                        </div>
                        <div class="form-group">
                            <label for="user_lastName">Sobrenome</label>
                            <input type="text" class="form-control" id="user_lastName" name="user_lastName" placeholder="Insira seu sobrenome">
                        </div>
                        <div class="form-group">
                            <label for="user_gender">Gênero</label>
                            <select class="form-control" id="user_gender" name="user_gender">
                                <option value="true">Masculino</option>
                                <option value="false">Feminino</option>
                            </select>
                        </div>
                        <div class="form-group">
                          <label for="user_cpf">CPF</label>
                          <input type="text" class="form-control cpf-mask" id="user_cpf" name="user_cpf" maxlength="15" OnKeyPress="formatar('###.###.###-##',this)" placeholder="Insira seu CPF">
                      </div>
                      <div class="form-group">
                          <label for="user_cep">CEP</label>
                          <input type="text" class="form-control" id="user_cep" name="user_cep" maxlength="15" OnKeyPress="formatar('#####-###',this)" placeholder="Insira seu CEP">
                      </div>
                      <div class="form-group">
                          <label for="user_phone">Telefone:</label>
                          <input type="text" class="form-control" id="_user_phone" name="user_phone" maxlength="15" OnKeyPress="formatar('(##) ####-#####',this)" placeholder="Insira seu numero de telefone">
                        </div>
                        <div class="form-group">
                          <label for="user_cellphone">Celular:</label>
                          <input type="text" class="form-control" id="user_cellphone" maxlength="15" OnKeyPress="formatar('(##) #####-#####',this)" placeholder="Insira seu numero de celular" name="user_cellphone">
                        </div>
                        <div class="form-group">
                          <label for="user_email">Email:</label>
                          <input type="email" class="form-control" id="user_email" placeholder="Insira seu e-mail" name="user_email">
                        </div>
                        <div class="form-group">
                          <label for="user_password">Senha:</label>
                          <input type="password" class="form-control" id="user_password" placeholder="Insira uma senha de 1 a 6 dígitos" name="user_password">
                          </div>
                          <button type="submit" class="btn btn-primary float-right">Cadastrar</button>
                    </form>
                <div class="col-md-6">
            <div class="row"></div>
        <div class="container"></div>          
  </main>
  <footer class="footer navbar-fixed-bottom">
    <div class="col-md-12">
        <p class="text-center">Copyright © Hotel Tech Tour Blumenau</p>
    </div>
  </footer>
  <script>
    function formatar(mascara, documento) {
      let i = documento.value.length;
      let saida = '#';
      let texto = mascara.substring(i);
      while (texto.substring(0, 1) != saida && texto.length ) {
        documento.value += texto.substring(0, 1);
        i++;
        texto = mascara.substring(i);
      }
    }
  </script>
</body>
</html>